{%extends 'juego.html'%}

{%block juego%}	
	<script src="/static/js/GLOBAL/processing.min.js"></script>
	<script src="/static/js/GLOBAL/jquery-2.2.3.min.js"></script>
	<script src="/static/js/GLOBAL/util.js"></script>
	<script src="/static/js/GLOBAL/MathOper.js"></script>
	<script src="/static/js/carrito/animacion.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/Carrito/estilo.css">

<div id="midiv">
	<p>Seleccione un nivel:</p>
	<div id="dif"></div>
	
	<button id="boton" onclick="eligio()">Nuevo Juego</button>

	<audio id="error" class="audioDemo" controls preload="none"> 
   		<source src="/static/Audio/carrito/error.mp3" type="audio/mpeg">
	</audio>

	<audio id="exito" class="audioDemo" controls preload="none"> 
   		<source src="/static/Audio/carrito/peep.mp3" type="audio/mpeg">
	</audio>


</div>
<div id="canvas">
<canvas  id="canvasCarrito" data-processing-sources="/static/js/carrito/carrito-math.js"></canvas>
</div>

 	<script>
     var diff = $("#dif");
     $("#nivel").appendTo(diff);
   </script>
{%endblock%}