{%extends 'juego.html'%}

{%block juego%}
<script src="/static/js/GLOBAL/processing.min.js"></script>
<script src="/static/js/GLOBAL/util.js"></script>
<style>
	.juego-principal{
		box-sizing: border-box;
		width: 803px;
		display: block;
		border: 1px solid #666;
	}
	.juego-info{
		width: 100%;
		height: 30px;
		display: table;
		padding: 3px 8px;
		background-color: #666;
		box-sizing: border-box;
	}
	.juego-dato{
		display: table-cell;
		height: 100%;
		box-sizing: border-box;
	}
	.juego-dato:first-child{
		text-align: left;
	}
	.juego-dato:last-child{
		text-align: right;
	}
	.no-style{
		margin: 0;
		padding: 0;
		border: 0;
	}
	.juego-text-color{
		color: #454713;
		background: skyblue;
	}
	#laberinto{
		height: 433px;
	}
	#lab-tiempo{
		width: 150px;
	}

</style>
 <div id="laberinto" class="juego-principal">
 	<div id="lab-datos" class="juego-info juego-text-color">
 		<div id="lab-tiempo" class="juego-dato">00:00:00</div>
 		<div id="lab-nivel"  class="juego-dato"><p class="no-style" style="display: inline-block;width:100px;">Nivel: </p></div>
 		<div id="lab-nuevo"  class="juego-dato"><button onclick="mouseClick()">Nuevo</button></div>
 	</div>
 	<canvas id="lab-canvas" class="juego-canvas" data-processing-sources="/static/js/Laberintos/Laberinto.js"></canvas>
 </div>
 <div id="ll"></div>
 <button onclick="mostrarMovimientosAg()">MOSTRAR</button>
 <div id="movs"></div>

 <script>
 	setNivel("lab-nivel"); //añade los niveles a la barra superior
 </script>
 <script src="/static/js/Laberintos/labs.js"></script>

{%endblock juego%}