{%extends 'index.html'%}

{%block titulo%}{{categoria}}{%endblock%}

{%block body%}
<section id="sectionPrincipal">
	<h1><div id="nombreJuego">Aprende Jugando</div></h1>
	<h2>Juegos de {{categoria}}</h2>

<ul id="ulCateg">
	{%if page_obj.has_previous%}
	<li id="prevpage" class="categoria"><a class="hab" href="?page={{page_obj.previous_page_number}}">«</a></li>
	{%else%}
	<li id="prevpage" class="categoria"><a class="deshab" href="#">«</a></li>
	{%endif%}

	  {%for j in juegos%}
	    <li class="categoria">
	    	<a href="/juegos/{{j.id}}/"><img src="/static/img/{{j.icono}}" /></a>
	    	<p class="nJuego" name="nJuego">{{j}}</p>
	    </li>
	  {%endfor%}

	{%if page_obj.has_next%}
	<li id="nextpage" class="categoria"><a class="hab" href="?page={{page_obj.next_page_number}}">»</a></li>
	{%else%}
	<li id="nextpage" class="categoria"><a class="deshab" href="#">»</a></li>
	{%endif%}
</ul>

<script>
	var nombres_juego = document.getElementsByName('nJuego');
	for(var i=0; i<nombres_juego.length; i++){
		var texto = nombres_juego[i].innerText.split(' ');
		var t = "";
		for(var j=0; j<texto.length; j++){
			t = t + texto[j] + "<br />";
		}
		nombres_juego[i].innerHTML = t;
		//console.log(nombres_juego[i].innerText.replace(' ','<br/>'));
	}

</script>

</section>

{%endblock%}